/*CSS Document */
p {
	color: blue;
	font-family: Times New Roman, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: beige;
	padding: 20px; 
}
.paragraf_2 {color: yellow; background-color: rgba(0, 0, 0, 0.3)}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 30px;
	margin: 20px; 
	width:50%;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:blue;
}
span {color: rgb(255, 0, 255);}
.pozadina{
	background-image: url(slike/IMG-9103.jpg);
}
.drugapozadina {
	background-color: antiquewhite; 
}
a {
	color: blue;
	background-color: white;
	padding: 2px;
	line-height: 30px;
	border:3px solid #000000;
}
a:hover {
	background-color: darkgray;
}
img {
	height: 200px;
}